{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">My Django Blog</h1>
        <p class="lead">A Blog website built with Django.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}"
                role="button">View All Articles</a>
        </p>
    </div>
{% else %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">You are not logged in</h1>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}"
                role="button">Login To View All Articles</a>
        </p>
    </div>
{% endif %}
{% endblock content %}